# Si des commits ont été faits avec le nom "simon12" et avec l'addresse mail "simon12@gmail.com", ajouter la ligne suivant pour qu'il soit associé à "Simon Renard" et l'addresse "simon.renard@ulb.be"
Simon Renard <simon.renard@ulb.be> simon12 <simon12@gmail.com>
Ethan Van Ruyskensvelde <ethan.van.ruyskensvelde@ulb.be> ethan <ethanvr3@gmail.com>
