# Si des commits ont été faits avec le nom "simon12" et avec l'addresse mail "simon12@gmail.com", ajouter la ligne suivant pour qu'il soit associé à "Simon Renard" et l'addresse "simon.renard@ulb.be"
Alexis_Reynouard	<alexis.reynouard@ulb.be>
Ernest_Malysz	<ernest.malysz@ulb.be>
Ernest_Malysz	<ernest.malysz@ulb.be>	ernest <ernest@omen-p15.telenet.be>
Ethan_Van_Ruyskensvelde	<ethan.van.ruyskensvelde@ulb.be>	Ethan Van Ruyskensvelde	<ethan.van.ruyskensvelde@ulb.be>
Ethan_Van_Ruyskensvelde	<ethan.van.ruyskensvelde@ulb.be>	Evr5	<ethanvr3@gmail.com>
Ethan_Van_Ruyskensvelde	<ethan.van.ruyskensvelde@ulb.be>	ethan	<ethanvr3@gmail.com>
Ethan_Van_Ruyskensvelde	<ethan.van.ruyskensvelde@ulb.be>	ethan	<ethanvr3@gmail.com>
Jonas_Schellekens	<jonas.schellekens@ulb.be>	Jonas	<jonas.schellekens123@gmail.com>
Jonas_Schellekens	<jonas.schellekens@ulb.be>	Jonas SCHELLEKENS	<jonas.schellekens@ulb.be>
Juliette_Cornu	<juliette.cornu@ulb.be>
Lucas_Verbeiren	<lucas.verbeiren@ulb.be>	Lucas Verbeiren	<lucas.verbeiren@ulb.be>
Lucas_Verbeiren	<lucas.verbeiren@ulb.be>	lulu	<lucas.verbeiren@gmail.com>
Quentin_Bernard_Bouissieres	<quentin.bernardbouissieres@ulb.be>
Quentin_Bernard_Bouissieres	<quentin.bernardbouissieres@ulb.be>	Lain36	<quentin.bernardbouissieres@gmail.com>
Quentin_Bernard_Bouissieres	<quentin.bernardbouissieres@ulb.be>	quentin	<quentin.bernardbouissieres@gmail.com>
Rafaou_Gajewicz	<rafaou.gajewicz@ulb.be>	0xWafar	<rafaou.gajewicz@ulb.be>
Rafaou_Gajewicz	<rafaou.gajewicz@ulb.be>	Rafaou Gajewicz	<rafaou.gajewicz@ulb.be>
Rafaou_Gajewicz	<rafaou.gajewicz@ulb.be>    wafardev <155046671+wafardev@users.noreply.github.com>
Simon_Renard	<simon.renard@ulb.be>
Simon_Renard	<simon.renard@ulb.be>	simon12	<simon12@gmail.com>
Tao_Chau	<tao.natan.chau@ulb.be>
Tao_Chau	<tao.natan.chau@ulb.be>	QuarkUpCode	<QuarkUpParticle@hotmail.com>
# vim: ts=36 noexpandtab list listchars=tab\:\ -\  ft=conf
