# Si des commits ont été faits avec le nom "simon12" et avec l'addresse mail "simon12@gmail.com", ajouter la ligne suivant pour qu'il soit associé à "Simon Renard" et l'addresse "simon.renard@ulb.be"
Simon Renard <simon.renard@ulb.be> simon12 <simon12@gmail.com>
Ethan Van Ruyskensvelde <ethan.van.ruyskensvelde@ulb.be> ethan <ethanvr3@gmail.com>
Ethan Van Ruyskensvelde <ethan.van.ruyskensvelde@ulb.be> Evr5 <ethanvr3@gmail.com>
Lucas Verbeiren <lucas.verbeiren@ulb.be> lulu <lucas.verbeiren@gmail.com>
Rafaou Gajewicz <rafaou.gajewicz@ulb.be> 0xWafar <rafaou.gajewicz@ulb.be>
Jonas Schellekens <jonas.schellekens@ulb.be> Jonas <jonas.schellekens123@gmail.com>
Jonas Schellekens <jonas.schellekens@ulb.be> Jonas SCHELLEKENS <jonas.schellekens@ulb.be>
Quentin Bernard Bouissieres <quentin.bernardbouissieres@ulb.be> quentin <quentin.bernardbouissieres@gmail.com>
Quentin Bernard Bouissieres <quentin.bernardbouissieres@ulb.be> Lain36 <quentin.bernardbouissieres@gmail.com>
Juliette Cornu <juliette.cornu@ulb.be>
Tao Chau <tao.natan.chau@ulb.be> QuarkUpCode <QuarkUpParticle@hotmail.com>
Ernest Malysz <ernest.malysz@ulb.be>
